#section_career {
    padding: 2.5rem 1rem;
}

.timeline-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1000px;
    border-radius: 0.75rem;
    border: 0.0625rem solid #E9ECF3;
    padding: 0 1.5rem;
}

.timeline-left {
    width: 11rem;
    max-height: 2.125rem;
}

.timeline-left h4 {
    font-weight: bold;
    /* font-size: 1.125rem; */
    line-height: 1.75rem;
}

.timeline-right {
    width: calc(100% - 11rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: max-content;
    /* border-bottom: 0.0625rem solid #E9ECF3; */
    padding: 1.5rem 0;
}

.timeline-period {
    width: 100%;
    display: inline-flex;
    margin-bottom: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.timeline-period-label {
    font-size: 20px;
    letter-spacing: -0.009em;
    line-height: 1.6;
    font-weight: 700;
    margin-right: 0.25rem;
    word-break: break-all;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.grid-timeline-wrap {
    width: 100%;
    min-height: 50px;
}

.grid-timeline-labels {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 0.125rem;
}

.grid-timeline-labels .year {
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    padding-left: 0.25rem;
    border-left: 0.0625rem solid #D7E2EB;
    color: #B2C0CC;
}

.grid-timeline-labels .year:after {
    content: '';
    position: absolute;
    left: -0.0625rem;
    top: calc(100% + 0.0625rem);
    width: 0.0625rem;
    height: 1.8125rem;
    background-color: #D7E2EB;
}

.grid-timeline {
    display: grid;
    grid-template-columns: repeat(72, 1fr);
    grid-auto-flow: column dense;
    grid-gap: 0.125rem;
    /* padding-top: 0.25rem; */
}
.grid-timeline .items {
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.3rem 0.5rem;
    border-radius: 0.125rem;
    text-align: center;
    background-color: #44576c;
    cursor: text;
    color: white;
}

/* .grid-timeline .items div div span span {
    font-style: italic;
    opacity: .48;
} */

.addText {
    font-style: italic;
    opacity: .48;
}

.grid-timeline .items.education {
    grid-column: 1 / 39;
    background-color: #7890A0;
}

.grid-timeline .items.active1 {
    grid-column: 39 / 45;
    background-color: #637c8c;
}

.grid-timeline .items.experience {
    grid-column: 48 / 66;
}

.grid-timeline .items.active2 {
    grid-column: 66 / 69;
    background-color: #637c8c;
}

.education-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1000px;
    border-radius: 0.75rem;
    border: 0.0625rem solid #E9ECF3;
    padding: 1.5rem;
}

.education-left h4 {
    color: black;
    margin: 0
}

.education-priod {
    width: 11rem;
    font-size: 0.9rem;
    margin-top: 13px;
    line-height: 1.5rem;
    color: #98A8B9;
}

.education-right {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: max-content;
}

.education-title {
    margin-top: 13px;
}

.education-title h3 {
    margin: 0 0 5px 0;
}

.education-title h4 {
    margin: 0 0 5px 0;
    font-size: 0.9rem;
    color: #596e84;
}


.experience-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1000px;
    border-radius: 0.75rem;
    border: 0.0625rem solid #E9ECF3;
    padding: 1.5rem;
}

.experience-left {
    max-height: 2.125rem;
}

.experience-left h4 {
    color: black;
    margin: 0
}

.experience-priod {
    width: 8rem;
    font-size: 0.9rem;
    margin-top: 13px;
    color: #98A8B9;
    line-height: 1.5rem;
}

.experience-right {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: max-content;
}

.experience-info {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-left: 3rem;
    width: calc(100% - 14rem);
}

.experience-title h3 {
    margin: 0 0 5px 0;
}

.experience-title h4 {
    margin: 0 0 5px 0;
    font-size: 0.9rem;
    color: #596e84;
}

.tagList {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

.tagList li {
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.125rem 0.375rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 400;
    color: #263747;
    background-color: #E9ECF3;
}

.workList {
    padding: 0 15px;
    margin: 0;
}

.workList .workList-li {
    margin-bottom: 20px
}

.workList .workList-li h4 {
    display: inline-block;
    margin: 5px 10px 10px 0;
}
.workList .workList-li span {
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    vertical-align: text-top;
    color: #98A8B9;
    margin-right: 0.0625rem;
}
.workList .workList-li a {
    display: block;
    width: fit-content;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-style: italic;
    overflow: hidden;
    word-break: break-all;
}
.workList .workList-li div {
    line-height: 1.6;
}

ol {
    padding: 0 16px;
}

ol li {
    margin-bottom: 5px;
}

.active-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1000px;
    border-radius: 0.75rem;
    border: 0.0625rem solid #E9ECF3;
    padding: 1.5rem;
}

.active-left h4 {
    color: black;
    margin: 0
}


.active-right {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: max-content;
}

.active-item {
    display: flex;
    flex-direction: row;
}

.item-border:not(:last-of-type) {
    border-bottom: 0.0625rem solid #E9ECF3;
}


.active-priod {
    width: 11rem;
    font-size: 0.9rem;
    margin-top: 13px;
    line-height: 1.4;
    color: #98A8B9;
    line-height: 1.5rem;
}

.active-info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 11rem);
    margin: 13px 0;
}

.active-title {
    width: calc(100% - 5rem);
}

.active-title h3 {
    margin: 0 0 5px 0;
}

.active-title h4 {
    margin: 0 0 5px 0;
    font-size: 0.9rem;
    color: #596e84;
}

@media screen and (max-width: 1090px) {
    .timeline-div {
        width: 100%;
    }
    .education-div {
        width: 100%;
    }
    .experience-div {
        width: 100%;
    }
    .active-div {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .experience-div {
        flex-direction: column;
    }
    .experience-left {
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .experience-right {
        flex-direction: column;
    }
    .experience-priod {
        width: 100%;
    }
    .experience-info {
        width: 100%;
        margin-left: 0;
    }

    .active-right {
        flex-direction: column;
    }
    .active-info {
        width: 100%;
        margin-left: 0;
    }
    .active-title {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .timeline-div {
        flex-direction: column;
    }
    .timeline-right {
        width: 100%;
    }
    .education-right {
        flex-direction: column;
    }
    .active-item {
        flex-direction: column;
    }
}