main {
    margin: 20px;
}

.section1 {
    display: flex;
    justify-content: flex-start;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.section1 h2 {
    margin: 30px 0 15px;
}