.info1 {
    width: 36%;
    display: flex;
    gap: 5%;
    margin: 3% 0;
    align-items: center;
}

.info1 .profile {
    width: 200px;
    height: 200px;
}

.info1 .user-info {
    margin: 0 0 5% 0;
}

.info1 .user-info .user-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 5% 0;
}

.info1 .user-info a {
    margin: 1% 0 0 0;
}

.info1 div ul {
    padding: 3%;
}

.info1 div ul li {
    margin: 1% 0;
}

@media screen and (max-width: 1440px) {
    .info1 {
        width: 61%;
    }
}

@media screen and (max-width: 768px) {
    .info1 {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .info1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .info1 {
        flex-direction: column;
    }
}