#section_skill hr {
    width: 50%;
    margin: 20px 0;
    background: #ddd;
    height: 1px;
    border: 0;
}

.info2 {
    width: 100%;
    display: flex;
    gap: 65px;
    margin: 30px 0;
    justify-content: center;
    align-items: stretch;
}

.info2-project {
    width: 100%;
    display: flex;
    gap: 65px;
    margin: 30px 0;
    justify-content: center;
    align-items: stretch;
}

.project-img3 {
    object-fit: cover;
    width: 34%;
}

.project-img2 {
    object-fit: contain;
    /* width: 34%; */
}

.additional {
    font-size: 12px;
    font-weight: bold;
    color: #55555582;
}

.skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.skill-list ul li {
    margin-bottom: 5px;
}

.project-info {
    width: 25%;
}

.project-info .use-skill {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 62%;
}

.project-info .use-skill span {
    font-size: 12px;
    line-height: 1.5;
    vertical-align: top;
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.125rem 0.375rem;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 400;
    color: #263747;
    background-color: #E9ECF3;
}

.project-info ul {
    padding: 10px 13px 0;
}

.project-info ul li {
    margin-bottom: 10px;
}

.description {
    margin: 10px 0;
}

.description p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .info2-project {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .project-img3 {
        width: 80%;
    }

    .project-info {
        width: 60%;
    }

    .skill-list {
        width: 22%;
    } 
}

@media screen and (max-width: 616px) {
    .info2 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .info2 img {
        width: 200px;
    }

    #section_skill hr {
        width: 80%;
    }

    .skill-list {
        width: 40%;
    } 
}

@media screen and (max-width: 425px) {
    .project-info {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .skill-list {
        width: 50%;
    } 
}